// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

$darkred: #3e0a0e;

$lightgreen: #b1eac5;
$darkgreen:#15625a;

// color-system

// .magenta {
//   color: $magenta;
// }
//
// .purple {
//   color: $purple;
// }
//
// .orange {
//   color: $orange;
// }
//
// .blue {
//   color: $blue;
// }
//
// .teal {
//   color: $teal;
// }
//
// .bg-magenta {
//   background-color: $magenta;
// }
//
// .bg-purple {
//   background-color: $purple;
// }
//
// .bg-orange {
//   background-color: $orange;
// }
//
// .bg-blue {
//   background-color: $blue;
// }
//
// .bg-teal {
//   background-color: $teal;
// }
//
// .bg-gray-light {
//   background-color: $gray-light;
// }
//
// .bg-gray-dark {
//   background-color: $gray-dark;
// }

// type

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "din-2014", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 600;
  letter-spacing: 0.5px;
}

body, p {
  font-family: "din-2014", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

p, a {
  font-size: 18px;
}
// nav

// FOOTER

.wrapper {
  padding: 0 0 0 0;
}

.footer {
  padding: 2rem 0;
  background-color: $gray-dark;
  h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .footer-links {
      display: flex;
      flex-direction: column;
      a {
        color: #fff;
      }
  }
}



.copyright {
  padding: 1rem 0;
  background-color: #121212;

  h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}


// .mmwm-navbar {
//   // background: $lightgreen;
//   background: #efdfbb;
//   z-index: 1;
//
//   a.nav-link {
//       text-transform: uppercase;
//       letter-spacing: 1px;
//       font-weight: 600;
//       color: #333;
//   }
//
//   .navbar-brand a {
//       text-transform: uppercase;
//       letter-spacing: 1px;
//       font-weight: 600;
//       color: #333;
//   }
// }
//
// @media (min-width:768px) {
//   .navbar-brand {
//     display: none;
//   }
// }
//
// #main-menu {
//     flex-grow: 1;
//     justify-content: space-between;
// }
//
// button.navbar-toggler {
//     width: 100px;
//     display: flex;
// }
//
// span.mobile-menu-toggle {
//     display: flex;
//     width: 100px;
//     text-transform: uppercase;
//     letter-spacing: 1px;
//     font-weight: 600;
//     color: #333;
//     position: relative;
//     top: 5px;
// }
//
// .mobile-menu-toggle .fa {
//     margin-left: 7px;
// }
//
// @media (max-width:768px) {
//   #navbarNavDropdown a.nav-link {
//     background: #fff;
//   }
// }
//
// #navbarNavDropdown a.nav-link {
//     margin-bottom: 0.5rem;
//     margin-top: 0.5rem;
//     padding-left: 0.5rem;
//     padding-right: 0.5rem;
// }
//
// // footer
//
// #wrapper-footer {
//   max-width: 768px;
//   margin-left: auto;
//   margin-right: auto;
//   /* border-top: 3px solid #15625a; */
//   margin-top: 4rem;
//   padding: 0 15px;
//
//     h4 {
//       margin-bottom: 1rem;
//     }
//     p {
//       margin-bottom: 1rem;
//     }
// }
//
// .footer-card {
//   background: #fff;
//   border: solid 2px #000;
//   padding: 2rem 1rem;
//   margin-bottom: 2rem;
// }
//
// // structure
//
// body {
//   // background-color: $lightgreen;
// }
//
// .mmwm-wrap {
//   background: $lightgreen;
//   // height: 100%;
//   display: flex;
//   flex-direction: column;
//   flex-grow: 1;
//   min-height: 100vh;
//   padding-top: 0rem;
//   // position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-image: url(/wp-content/uploads/2018/08/mushrooms.png);
//   // background-image: url(/wp-content/uploads/2018/08/mushroom-mind-grid.png);
//   background-position: 50px 100px;
// }
//
// .fullHeightContainer {
//   min-height: 100%;
//   display: flex;
// }
//
// .fullHeightRow {
//     flex-grow: 1;
// }
//
// // content
//
// .mmwm-wrap {
//   .content-wrap {
//       max-width: 540px;
//       .content {
//         h1 {
//           font-size: 18px;
//           // margin-top: 2rem;
//           margin-bottom: 2rem;
//           font-weight: 500;
//           letter-spacing: 0;
//         }
//         h2 {
//           margin-bottom: 2rem;
//           font-weight: 600;
//         }
//       }
//   }
// }
//
// a.tickets {
//   margin-bottom: 2rem;
//   padding: 0.5rem 2rem;
//   padding-right: 2rem;
//   color: #000;
//   display: inline-block;
//   background-color: #e75b75;
//   background-color: #e9bbef;
//
//   font-size: 24px;
//   font-weight: 600;
//   letter-spacing: 0.5px;
//   border: 2px solid #000;
// }
//
// // // PAGE TEMPLATES
//
// // home
//
// .poster-col {
//   padding-bottom: 1rem;
// }
//
// .poster {
//   // max-height: 100%;
//   background: url(/wp-content/uploads/2018/08/mmwm-2018-poster-edit.jpg);
//   width: auto;
//   max-height: 100%;
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;
// }
//
// @media (max-width:768px) {
//   .poster {
//     max-height: 300px;
//   }
// }
//
// .page-template-home {
//   #wrapper-footer {
//     display: none;
//   }
// }
//
// // content copy pages
//
// .mmwm-container {
//   padding-top: 2rem;
//   max-width: 768px;
//   .row {
//     margin-bottom:2rem;
//   }
//   img {
//     margin-bottom: 1rem;
//   }
//   .content {
//     h1 {
//       margin-bottom: 2rem;
//     }
//     h2 {
//       margin-bottom: 2rem;
//     }
//     h3 {
//       margin-top:2rem;
//       margin-bottom:2rem;
//     }
//     h4 {
//       margin-bottom: 1rem;
//     }
//     a {
//       color:$darkred;
//       text-decoration: underline;
//       letter-spacing: 0.5px;
//       font-weight: 600;
//     }
//   }
// }
//
// // buy tickets
//
// main#tribe-events-pg-template {
//     max-width: 1140px;
//     padding-top: 2rem;
//     padding-left: 1rem;
//     padding-right: 1rem;
// }
//
// a.buy-btn {
//   /* margin-bottom: 2rem; */
//   padding: .5rem 2rem;
//   padding-right: 2rem;
//   color: #000;
//   display: inline-block;
//   background-color: #e75b75;
//   background-color: #efdfbb;
//   background-color: #e9bbef;
//   font-size: 24px;
//   font-weight: 600;
//   letter-spacing: .5px;
//   border: 2px solid #000;
// }
//
// .tribe-events-single-event-description.tribe-events-content {
//   margin-top: 2rem;
//   margin-bottom: 1rem;
// }
//
// h2.tribe-events-tickets-title.tribe--tpp,.tribe-events-single-section.tribe-events-event-meta.secondary.tribe-clearfix,.tribe-events-cal-links, .tribe-events-single-section.tribe-events-event-meta.primary.tribe-clearfix,p.tribe-events-back,span.tribe-events-cost, {
//     display: none !important;
// }
//
// table.tribe-events-tickets.tribe-events-tickets-tpp {
//     background: none;
// }
//
// td.tribe-ticket.quantity, .tribe-events-tickets .tickets_description, .tribe-events-tickets .tickets_name, .tribe-events-tickets .tickets_name p, .tribe-events-tickets .tickets_price {
//     border: none !important;
// }
//
// td.tpp-add {
//     display: none;
// }
//
// div#tribe-events-footer {
//     border: none !important;
// }
//
// .single-tribe_events div#wrapper-footer {
//     display: none;
// }
//
// h1.tribe-events-single-event-title {
//     font-size: 40px !important;
//     margin-bottom: 2rem !important;
// }
//
// .event-desc p {
//     font-size: 32px;
//     line-height: 1.2 !important;
//     margin-bottom: 2rem !important;
//     font-weight: 600;
//     letter-spacing: 0.5px;
// }
//
// button.tpp-submit.tribe-button {
//     background: #e75b75;
//     background: #e9bbef;
//     border: 2px solid #000;
//     border-radius: 0;
//     font-size: 20px;
//     min-width: 120px;
//     font-weight: 600;
//     letter-spacing: 1px;
// }
//
// td.tickets_name {
//     font-size: 20px !important;
//     font-weight: 600;
//     color: #000 !important;
//     letter-spacing: 0.5px;
// }
//
// span.tribe-tickets-price-amount.amount {
//     color: #000;
//     font-size: 20px !important;
//     letter-spacing: 0.5px !important;
//     font-weight: 600;
// }
//
// span.tribe-tickets-remaining {
//     color: #000 !important;
//     letter-spacing: 0.5px;
//     font-size: 12px !important;
// }
//
// input.tribe-ticket-quantity.qty {
//     border: 2px solid #000;
// }
//
// #tribe-events-content, .content {
//     background: #fff;
//     border: 2px solid #000;
//     padding: 2rem 2rem;
// }
//
// // content continued
// .content.section {
//     margin-bottom: 2rem;
// }
//
// @media (max-width:768px) {
//   form#tpp-buy-tickets {
//     position: relative;
//     left: -35px;
//   }
//   td.tickets_name {
//     font-size: 16px !important;
//     padding: 20px 5px !important;
//   }
//   td.tickets_price {
//     padding: 10px 4px !important;
//   }
//   td.tickets_description {
//     padding: 0 !important;
//   }
//   td.tickets_submit {
//     padding: 10px 0px !important;
//   }
//   button.tpp-submit.tribe-button {
//     margin: 10px 0px !important;
//   }
// }
//
// // LANDING PAGE
//
// .landing-page {
//   .page-introduction {
//     text-align: center;
//     margin-top: 2rem;
//     h1 {
//       font-size: 3rem;
//       margin-bottom: 2rem;
//     }
//     p {
//       font-size: 18px;
//       text-transform: uppercase;
//       letter-spacing: 1px;
//     }
//   }
// }
//
// .mtm-block {
//   padding: 2rem 1rem;
//   border: 2px solid #333;
//   background: #fff;
//   margin-bottom: 2rem;
// }
//
//
//
// .block-introduction {
//   text-align: center;
//
//   h2 {
//     margin-bottom: 2rem;
//   }
// }
// .block-feature {
//   text-align: center;
//   padding: 1rem;
//   h3 {
//     margin-bottom: 2rem;
//   }
// }
//
// .profile {
//   padding: 1rem;
//   margin-bottom: 2rem;
//   img {
//     margin-bottom: 1rem;
//   }
// }
//
// .page-id-794 {
//
//   // #wrapper-navbar {
//   //   display: none;
//   // }
//
//   #wrapper-footer {
//     display: none;
//   }
//
// }
//
// .page-introduction a.buy-btn {
//   margin-top: 1rem;
// }
