// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #6f31cd; // Thats a sample how you could change a BootStrap variable.

$magenta: #e51464;
$purple: #602c84;
$orange: #f1a221;
$blue: #3993e8;
$teal: #009fa2;

$gray-light: #a8aaad;
$gray-dark: #262b33;
